<img src="{{ root_url }}/images/holyruby.png" alt="Holy Ruby [Logo]" title="Holy Ruby [Logo]" class="logopic" />

<hgroup>
  <h1><a class="logo" href="{{ root_url }}/">{{ site.title }}</a></h1>
</hgroup>
<img src="{% gravatar_image 200 %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" class="profilepic" />
<p class="about">I’m Jonah, a ruby developer from Puerto Rico. I run a RubyOnRails Consultancy / Shop called
  <a href="http://www.pixelhipsters.com">PixelHipsters</a>. When not writing software, I love to write and record
  <a href="https://soundcloud.com/jonah-offline">music</a>.
</p>